body,html{
    margin:0px;
    padding:0px;
    font-family:helvetica;
    background-color:#111720;
    height:100%;
    width:100%;
}

#particles-js{
    width:100%;
    height:100%;
    min-height:650px;
    background: linear-gradient(to right, #1A1A1A, #1A1A1A);
}

a{
    text-decoration:none;
}

.icon{
    width:120px;
    height:120px;
    border-radius:30px;
    margin-top:100px;
}

.title{
    font-size:30px;
    color:#fff;
}
.title h6{
    font-size:15px;
    color:#fff;
}

.top{
    position:absolute;
    top:0;
    left:0;
    width:100%;
}

.btn{
    display:block;
    width:80%;
    max-width:350px;
    padding:15px;
    border-radius:30px;
    background-color:#515D69;
    color:#fff;
    opacity: 0.6;
}

.ss1{
    width:90px;
    border-radius:15px;
    border-style:solid;
    border-color:#23ACF6;
    margin:5px;
    display:inline-block;
}

.ss2{
    width:90px;
    border-radius:15px;
    border-style:solid;
    border-color:#23ACF6;
    margin:5px;
    display:inline-block;
}

.ss3{
    width:90px;
    border-radius:15px;
    border-style:solid;
    border-color:#23ACF6;
    margin:5px;
    display:inline-block;
}

.container{
    margin-top:20px;
}

.middle{
    width:100%;
    background-color:#fff;
    padding-top:20px;
    padding-bottom:20px;
    overflow-x:hidden;
    margin:0px;
}

.middle h2{
    color:#222;
    font-weight:400;
    margin:20px;
    font-size:25px;
}

.box{
    width:90%;
    max-width:400px;
    padding:15px;
}

code{
    padding:10px;
    border-radius:10px;
    background-color:#111;
    color:#fff;
    width:80%;
    margin-top:20px;
    margin-bottom:20px;
    display:block;
    max-width:600px;
}

footer{
    padding-top:15px;
    padding-bottom:15px;
    background-color:#fff;
    text-align:center;
    color:#fff;
    margin-bottom:0px;
}

.install {
  display: block;
  width: 250px;
  border-radius: 15px;
  background-color: #111720;
  margin: 15px;
  padding: 18px;
  color: #1E93FF;
  border:2px solid #1E93FF;
}
.slogan {
  margin: 10px;
  font-size: 20px;
  color: #1E93FF;
  font-weight: 400;
}

.spacer{
     margin:80px;
}
.downloads{
    width:100%;
    padding-top:15px;
    padding-bottom:15px;
    margin-top:0px;
}

.button{
    width:40%;
    display:inline-block;
}

.button a{
    display:block;
    padding:15px;
    width:80%;
    border-radius:30px;
    background-color:#1C82E7;
    color:#fff;
    font-size:15px;
    font-weight:700;
    opacity:1.0;
}

.button p{
    font-size:12px;
    color:#fff;
    opacity:0.6;
    margin-top:5px;
    margin-bottom:0px;
}

.button2{
    width:40%;
    display:inline-flex;
}

.button2 a{
    display:block;
    padding:15px;
    width:120%;
    border-radius:11px;
    background-color:#1C82E7;
    color:#fff;
    font-size:15px;
    font-weight:700;
    opacity:1.0;
}

.txt{
    font-size:20px;
    color:#fff;
    text-align: center;
}
.txt h1{
    font-size:20px;
    color:#fff
    text-align: center;
}
.pict{
    width:350;
    height:175;
    border-radius:0px;
    margin-top:10px;
}
.phoneimg{
    width:250;
    height:435;
    border-radius:10px;
    margin-top:10px;
}
